 <!-- Form -->
        <form *ngIf="form" [formGroup]="form" class="" style="color: #757575;" (submit)="onSubmit($event)">

            <div class="card" style="margin:50px 0">
                <!-- Default panel contents -->
                <div class="card-header font-weight-bold" style="text-align: left;">Change Password <i class="fa fa-lock"></i></div>
                <div class="alert alert-success" role="alert" *ngIf="successMes">
                    {{successMes}}
                </div>
                <div *ngIf="errMes.error" class="alert alert-danger" role="alert">
                    {{errMes.error}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="password" id="materialpassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control" formControlName="password" mdbInputDirective data-error="Please enter new password" data-success=" ">
                            <label for="materialpassword" >New Password</label>
                            <mdb-error *ngIf="errMes.password">{{errMes.password}}</mdb-error>
                        </div>
                        <!-- Password -->
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="password" id="materialconfirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control" mdbInputDirective formControlName="confirmPassword" data-error="Please confirm new password" data-success=" ">
                            <label for="materialconfirmPassword">Confirm New Password</label>
                            <mdb-error *ngIf="errMes.confirmPassword">{{errMes.confirmPassword}}</mdb-error>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <!-- Password -->
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="password" id="materialCurrentFormPassword" class="form-control" mdbInputDirective formControlName="currentPassword" data-error="Please enter current password" data-success=" ">
                            <label for="materialCurrentFormPassword">Current Password</label>
                            <mdb-error *ngIf="errMes.currentPassword">{{errMes.currentPassword}}</mdb-error>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-facebook float-right" type="submit">UPDATE <i class="fa fa-edit"></i></button>
                    </li>
                </ul>

                <!-- Sign in button -->

                <!--<button class="btn btn-facebook" type="submit">Sign in</button>-->
            </div>
        </form>
