
<mdb-card>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
        <!-- Form -->
        <form *ngIf="form" [formGroup]="form" class="" style="color: #757575;" (submit)="onSubmit($event)">

            <div class="card" style="margin:50px 0">
                <!-- Default panel contents -->
                <div class="card-header font-weight-bold" style="text-align: left;">My Profile <i class="fa fa-user-circle"></i></div>
                <div class="alert alert-success" role="alert" *ngIf="successMes">
                    {{successMes}}
                </div>
                <div *ngIf="errMes.error" class="alert alert-danger" role="alert">
                    {{errMes.error}}
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="username" mdbInputDirective data-error="Please enter username" data-success=" ">
                            <label for="materialRegisterFormEmail" ><i class="fa fa-envelope"></i> Email ID</label>
                            <mdb-error *ngIf="errMes.username">{{errMes.username}}</mdb-error>
                        </div>

                        <!-- Email -->
                        <div class="md-form w-50 pr-5 float-right">
                            <input type="text" id="materialLoginFormEmail" class="form-control" formControlName="firstname" mdbInputDirective data-error="Please enter first name" data-success=" ">
                            <label for="materialLoginFormEmail">First Name</label>
                            <mdb-error *ngIf="errMes.firstname">{{errMes.firstname}}</mdb-error>
                        </div>
                    </li>
                    <li class="list-group-item">

                        <!-- Password -->
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="text" id="materialLoginFormPassword" class="form-control"   mdbInputDirective formControlName="lastname" data-error="Please enter last name" data-success=" ">
                            <label for="materialLoginFormPassword">Last Name</label>
                            <mdb-error *ngIf="errMes.lastname">{{errMes.lastname}}</mdb-error>
                        </div>

                        <div class="md-form w-50 pr-5 float-right">
                            <input type="text" id="materialRegisterFormPhone" class="form-control" formControlName="telephone"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error="Please enter  phone number" data-success=" ">
                            <label for="materialRegisterFormPhone"><i class="fa fa-mobile-phone"></i> Phone number</label>
                            <mdb-error *ngIf="errMes.telephone">{{errMes.telephone}}</mdb-error>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="text" id="materialRegisterFormaddrline1" class="form-control" formControlName="addrline1"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error="Please enter  addrline1" data-success=" ">
                            <label for="materialRegisterFormPhone"><i class="fa fa-address-book"></i> addrline1</label>
                            <mdb-error *ngIf="errMes.addrline1">{{errMes.addrline1}}</mdb-error>
                        </div>

                        <div class="md-form w-50 pr-5 float-right">
                            <input type="text" id="materialRegisterFormaddrline2" class="form-control" formControlName="addrline2"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error="Please enter addrline2" data-success=" ">
                            <label for="materialRegisterFormPhone">addrline2</label>
                            <mdb-error *ngIf="errMes.addrline2">{{errMes.addrline2}}</mdb-error>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="text" id="materialRegisterFormcity" class="form-control" formControlName="city"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error=" " data-success=" ">
                            <label for="materialRegisterFormPhone">City</label>
                            <mdb-error *ngIf="errMes.city">{{errMes.city}}</mdb-error>
                        </div>

                        <div class="md-form w-50 pr-5 float-right">
                            <input type="text" id="materialRegisterFormzipcode" class="form-control" formControlName="zipcode"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error=" " data-success=" ">
                            <label for="materialRegisterFormPhone">Zipcode</label>
                            <mdb-error *ngIf="errMes.zipcode">{{errMes.zipcode}}</mdb-error>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="md-form w-50 pr-5 float-left">
                            <input type="text" id="materialRegisterFormcountry" class="form-control" formControlName="country"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error=" " data-success=" ">
                            <label for="materialRegisterFormPhone">Country</label>
                            <mdb-error *ngIf="errMes.country">{{errMes.country}}</mdb-error>
                        </div>
                        <div class="md-form w-50 pr-5 float-right">

                            <!--<select class="browser-default custom-select" formControlName="state_id"  mdbInputDirective data-error=" " data-success=" ">-->
                                <!--<option *ngFor="let key of objectKeys(states)" [value]="key">{{ states[key] }}</option>-->
                            <!--</select>-->


                            <input type="text" id="materialRegisterFormstate" class="form-control" formControlName="state_id"  aria-describedby="materialRegisterFormPhoneHelpBlock"
                                   mdbInputDirective data-error="Please enter state" data-success=" ">
                            <label for="materialRegisterFormPhone">State</label>
                            <mdb-error *ngIf="errMes.state_id">{{errMes.state_id}}</mdb-error>
                        </div>


                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-facebook float-right" type="submit">UPDATE <i class="fa fa-edit"></i></button>
                    </li>
                </ul>









            <!-- Sign in button -->

            <!--<button class="btn btn-indigo" type="submit">Sign in</button>-->
            </div>
        </form>
        <!--<app-change-password-profile *ngIf="res" [userid]="res['userid']"></app-change-password-profile>-->
        <!--<app-security-challenge *ngIf="res" [userdata]="res" [userid]="res['userid']"></app-security-challenge>-->
        <!-- Form -->
    </mdb-card-body>
</mdb-card>

<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>
