<app-header></app-header>
<main>
    <div class="container">
        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">
            <div class="row"></div>
        </section>
    </div>
</main>
<main>
    <div class="container">
        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">
        <div class=" container col-lg-6 col-md-7 col-sm-6 col-xs-12     login-card">

            <!--Grid row-->
            <div class="row align-items-center">
                <div *ngIf="successSecurityMes && securityform">
                    <app-challenge-verified [securitydata]="securityform.value" [info_message]="successSecurityMes"></app-challenge-verified>
                </div>

                <div *ngIf="securityform && !successSecurityMes && !successMes" class="col-lg-12">

                    <div class="col-lg-12">
                        <div class="card  form-white">
                            <div class="card-body">
                                <div *ngIf="errMes.error" class="alert alert-danger" role="alert">
                                    {{errMes.error}}
                                </div>
                                <div class="alert alert-success" role="alert" *ngIf="successSecurityMes">
                                    {{successSecurityMes}}
                                </div>
                    <form [formGroup]="securityform" style="color: #757575;" (submit)="onSecuritySubmit($event)">
                        <h3 class="text-center default-text py-3"><i class="fa fa-user-secret"></i> Security challenge</h3>
                        <div class="md-form">
                            <i class="fa fa-user-circle prefix grey-text"></i>
                            <input type="text" id="materialusername" class="form-control"  formControlName="username" mdbInputDirective  data-error=" " data-success=" " readonly="readonly">
                            <label for="materialusername">Email ID</label>
                            <mdb-error *ngIf="errMes.username">{{errMes.username}}</mdb-error>
                        </div>

                    <div *ngFor="let formcontrols of formConfig;">
                        <div class="md-form">
                            <i class="fa fa-question-circle prefix grey-text"></i>
                            <input type="{{formControlType[formcontrols]}}" id="material{{formcontrols}}" class="form-control"  formControlName="{{formcontrols}}" mdbInputDirective  data-error=" " data-success=" ">
                            <label for="material{{formcontrols}}">{{formControlLabel[formcontrols]}}</label>
                            <mdb-error *ngIf="errMes[formcontrols]">{{errMes[formcontrols]}}</mdb-error>
                        </div>
                    </div>
                        <div class="text-center py-4">
                            <button class="btn btn-facebook" type="button" (click)="redirectToChangePassword()">I don't know <i class="fa fa-arrow-circle-right"></i></button>
                            <button class="btn btn-facebook" type="submit" >Submit Challenge</button>
                        </div>
                    </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="successMes" class="col-lg-12">
                    <app-change-password [emaildata]="form.value" [info_message]="successMes"></app-change-password>
                </div>


                <div class="col-lg-12" *ngIf="!securityform && !successMes">
                    <div class="card  form-white">
                        <div class="card-body">
                            <div *ngIf="errMes.error" class="alert alert-danger" role="alert">
                                {{errMes.error}}
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="successMes">
                                {{successMes}}
                            </div>
                            <!-- Form subscription -->
                            <form [formGroup]="form" style="color: #757575;" (submit)="onSubmit($event)">
                                <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Forgot Password</h3>
                                <div class="md-form">
                                    <input type="text" id="materialLoginFormEmail" class="form-control"  formControlName="username" mdbInputDirective  data-error=" " data-success=" ">
                                    <label for="materialLoginFormEmail"><i class="fa fa-user-circle"></i> Email ID</label>
                                    <mdb-error *ngIf="errMes.username">{{errMes.username}}</mdb-error>
                                </div>
                                <div class="text-center py-4">
                                    <button class="btn btn-facebook" type="button" (click)="redirectToLogin()">Cancel</button>
                                    <button class="btn btn-facebook" type="submit" >Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                                    <button *ngIf="successMes" class="btn btn-facebook" type="button" (click)="redirectToChangePassword()">Reset Password <i class="fa fa-refresh"></i></button>
                                </div>
                            </form>
                            <!-- Form subscription -->
                        </div>
                    </div>
                </div>
                <!-- Grid column -->


            </div>
            <!--Grid row-->

        </div>
        <!-- Content -->


    <!-- Mask & flexbox options-->


<!-- Full Page Intro -->
        </section></div></main>




