<!--<app-header></app-header>-->
<!--<main>-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;Section: Main info&ndash;&gt;-->
        <!--<section class="mt-5 wow fadeIn">-->
            <!--<div class="row"></div>-->
        <!--</section>-->
    <!--</div>-->
<!--</main>-->

<!--<main>-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;Section: Main info&ndash;&gt;-->
        <!--<section class="mt-5 wow fadeIn">-->
<!--&lt;!&ndash; Full Page Intro &ndash;&gt;-->


    <!--&lt;!&ndash; Mask & flexbox options&ndash;&gt;-->


        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<div class=" container col-lg-6 col-md-7 col-sm-6 col-xs-12     login-card">-->

            <!--&lt;!&ndash;Grid row&ndash;&gt;-->
            <!--<div class="row align-items-center">-->
                <div class="col-lg-12">
                    <div class="card  form-white">
                        <div class="card-body">
                            <div *ngIf="errMes.error" class="alert alert-danger" role="alert">
                                {{errMes.error}}
                            </div>
                            <div *ngIf="successMes" class="alert alert-success" role="alert">
                                {{successMes}}
                            </div>
                            <div *ngIf="!successMes" class="alert alert-info" role="alert">
                                {{info_message}}. Please enter new password and proceed.
                            </div>

                            <!-- Form subscription -->
                            <form [formGroup]="form" style="color: #757575;" (submit)="onSubmit($event)">
                                <h3 class="text-center default-text py-3"><i class="fa fa-key"></i> Change password:</h3>
                                <div class="md-form">
                                    <i class="fa fa-user-circle prefix grey-text"></i>
                                    <input type="text" id="materialEmail" class="form-control"  formControlName="username" mdbInputDirective  data-error="   " data-success=" " readonly="readonly">
                                    <label for="materialEmail">Email ID</label>
                                    <mdb-error *ngIf="errMes.username">{{errMes.username}}</mdb-error>
                                </div>
                                <div class="md-form">
                                    <input type="password" id="materialPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control" formControlName="password" aria-describedby="materialRegisterFormPasswordHelpBlock"
                                           mdbInputDirective data-error=" " data-success=" ">
                                    <label for="materialPassword">Password</label>
                                    <mdb-error *ngIf="errMes.password">{{errMes.password}}</mdb-error>
                                    <!--<small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">-->
                                        <!--Password should be at least 8 characters long and should contain one number,one character and one special character-->
                                    <!--</small>-->
                                </div>

                                <div class="md-form">
                                    <input type="password" id="materialRegisterFormConfirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control" formControlName="confirm_password" aria-describedby="materialRegisterFormPasswordHelpBlock"
                                           mdbInputDirective data-error=" " data-success=" ">
                                    <label for="materialRegisterFormConfirmPassword">Confirm Password</label>
                                    <mdb-error *ngIf="errMes.confirm_password">{{errMes.confirm_password}}</mdb-error>
                                </div>
                                <div class="text-center py-4">
                                    <button class="btn btn-facebook" type="submit">Change <i class="fa fa-key ml-1"></i></button>
                                </div>
                            </form>
                            <!-- Form subscription -->
                        </div>
                    </div>
                </div>
                <!-- Grid column -->


            <!--</div>-->
            <!--&lt;!&ndash;Grid row&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash; Content &ndash;&gt;-->


    <!--&lt;!&ndash; Mask & flexbox options&ndash;&gt;-->


<!--&lt;!&ndash; Full Page Intro &ndash;&gt;-->
        <!--</section></div></main>-->




