
<!--Footer-->
<!--<footer class="page-footer  w-100  text-center font-small footer-copyright  " style="display:table-row;background: rgba(0,0,0,.3)!important;bottom: 0px !important;">-->
    <!--&lt;!&ndash;Copyright&ndash;&gt;-->
    <!--<div class="footer-copyright py-3">-->
        <!--Copyright © 2019 Blue Clues Cavelog. All Rights Reserved-->
        <!--<a href="#" target="_blank"> Cavelog.com </a>-->
    <!--</div>-->
    <!--&lt;!&ndash;/.Copyright&ndash;&gt;-->

<!--</footer>-->
<!-- Footer -->
<!--<footer class="page-footer font-small white black-text pt-4">-->

    <!--&lt;!&ndash; Footer Links &ndash;&gt;-->

    <!--&lt;!&ndash; Footer Links &ndash;&gt;-->

    <!--&lt;!&ndash; Copyright &ndash;&gt;-->
    <!--<div class="footer-copyright text-center py-3">© 2018 Copyright:-->
        <!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
    <!--</div>-->
    <!--&lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!-- Footer -->
<footer class="page-footer text-center center-on-small-only pt-0 pb-0 mt-5 fixed-bottom " style="background: rgba(0,0,0,.3)!important">
    <div></div>
    <!--Copyright-->
    <div class="footer-copyright py-3">
        Copyright © 2019 Blue Clues Cavelog. All Rights Reserved
        <a routerLink="#" target="_blank"> Cavelog.com </a>
    </div>
    <!--/.Copyright-->

</footer>




<!–- Footer -–>
<!--<footer class="page-footer center-on-small-only pt-0 mt-5 fixed-bottom">-->
    <!--&lt;!&ndash;Copyright&ndash;&gt;-->
    <!--<div class="footer-copyright">-->
        <!--<div class="container-fluid">-->
            <!--© 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;/.Copyright&ndash;&gt;-->
<!--</footer>-->
<!–- /.Footer -–>
